<!DOCTYPE html>
<html>
  <head>
    <title>Group Text Event Planner Thing!</title>
  </head>
  <body>
    <div id="fb-root"></div>

    <script>
      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));

      // Init the SDK upon load
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '467356809944508', // App ID
          channelUrl : 'http://localhost:4567/channel', // Path to your Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        // listen for and handle auth.statusChange events
        FB.Event.subscribe('auth.statusChange', function(response) {
          if (response.authResponse) {
            // user has auth'd your app and is logged into Facebook
            FB.api('/me', function(me){
              if (me.name) {
                document.getElementById('auth-displayname').innerHTML = me.name;

                  }
                });
            var body = "If this works, be super proud of me.";
            console.log(body);
            getFriendsList();
            document.getElementById('auth-loggedout').style.display = 'none';
            document.getElementById('auth-loggedin','auth-poststatus').style.display = 'block';
            //location.href='/landing';
          } else {
            // user has not auth'd your app, or is not logged into Facebook
            document.getElementById('auth-loggedout').style.display = 'block';
            document.getElementById('auth-loggedin','auth-poststatus').style.display = 'none';
          }
        });

        // respond to clicks on the login and logout links
        document.getElementById('auth-loginlink').addEventListener('click', function(){
           FB.login(function(response) {
             // handle the response
           }, {scope: 'email,user_events,user_status,publish_stream,create_event'})
        });
        document.getElementById('auth-logoutlink').addEventListener('click', function(){
          FB.logout();
        }); 
      } 
    </script>
    <script src="js/app.js"></script>

    <h1>Group Text Event Planner Thing!</h1>
      <div id="auth-status">
        <div id="auth-loggedout">
          <a href="#" id="auth-loginlink">Login</a>
        </div>
        <div id="auth-loggedin" style="display:none">
          Hi, <span id="auth-displayname"></span>  
        (<a href="#" id="auth-logoutlink">logout</a>).<br />
          <!--a href="#" id="auth-poststatus">Click here to test-post a status.</a-->
          <a href="#" id="auth-letsgo">Click here to start a TextRaid event.</a>
          <p>
          <!--input type="button"
            onclick="sendRequestViaMultiFriendSelector(); return false;"
            value="Send Request to Many Users with MFS"
          /-->
          </p>
        </div>

      </div>
    </div>
  <script>
    //Link click eventListeners.
      //Sends a test post.
      //document.getElementById('auth-poststatus').addEventListener('click', function(){
      //  postMessage("Hey there. If you see this, be super proud of me.");
      //});
      document.getElementById('auth-letsgo').addEventListener('click', function(){
        //postMessage("I just created a TextRaid group event. Get excited.");
        var invitedUIDs = sendRequestViaMultiFriendSelector();
      });

  </script>
  </body>
</html>