<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Client-side Authentication Example</title>
  </head>
  <body>
    <div id="fb-root"></div>

    <script>
      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));

      // Init the SDK upon load
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '467356809944508', // App ID
          channelUrl : 'http://localhost:4567/channel', // Path to your Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        // listen for and handle auth.statusChange events
        FB.Event.subscribe('auth.statusChange', function(response) {
          if (response.authResponse) {
            // user has auth'd your app and is logged into Facebook
            FB.api('/me', function(me){
              if (me.name) {
                document.getElementById('auth-displayname').innerHTML = me.name;

                  }
                });
            var body = "If this works, be super proud of me.";
            console.log(body);
            getFriendsList();
            document.getElementById('auth-loggedout').style.display = 'none';
            document.getElementById('auth-loggedin','auth-poststatus').style.display = 'block';
            //location.href='/landing';
          } else {
            // user has not auth'd your app, or is not logged into Facebook
            document.getElementById('auth-loggedout').style.display = 'block';
            document.getElementById('auth-loggedin','auth-poststatus').style.display = 'none';
          }
        });

        // respond to clicks on the login and logout links
        document.getElementById('auth-loginlink').addEventListener('click', function(){
           FB.login(function(response) {
             // handle the response
           }, {scope: 'email,user_events,user_status,publish_stream,create_event,user_mobile_phone'})
        });
        document.getElementById('auth-logoutlink').addEventListener('click', function(){
          FB.logout();
        }); 
      } 

      //Attempts to post a passed message to the current user's status.
      function postMessage(body){
        FB.api('/me/feed', 'post', { message: body }, function(response) {
          if (!response) {
            console.error('No response received. Check the browser connection.');
          } 
          else if(response.error){
            console.error('Error occured:');
            console.error(response.error);
          }
          else {
            console.log('Post ID: ' + response.id);
          }
        });
      }

      //Attempts to create an event with a given name and start/end time.
      function createEvent(ename, estart, eend, resp){
        FB.api('/me/events', 'post', { name : ename, start_time : estart, end_time : eend }, function(response) {
          if (!response) {
            console.error('No response received. Check the browser connection.');
          } 
          else if(response.error){
            console.error('Error occured:');
            console.error(response.error);
          }
          else {
            console.log('Post ID: ' + response.id);
            inviteUsers(response.id, resp);

         //   return response.id;
          }
        });
      }

      //Invites the given list of users to the given event.
      function inviteUsers(eventId, invites){
        var postURI = '/'+eventId+'/invited/';
        //inviteusers = '';
        //for(id in invites){
        //inviteusers = inviteusers + id + ", "
        //}
        //iu = inviteusers.substr(0, (inviteusers.length - 1));
        console.log("Here goes...");
        console.log(eventId);
        console.log(invites);
        FB.api('/'+eventId+'/invited/', 'post', {users : invites}, function(response){
          console.log("I think I just invited some people. Here, look: ");
          console.log(response);
        });
      }

      //Returns a list of friends. 
      function getFriendsList(){
        FB.api('/me/friends', function(response){
          console.log(response);
        });
      }

      //Prompt the user to select a list of friends to invite.
      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'My Great Request'
        }, requestCallback);
      }
      
      function requestCallback(response) {
        console.log(response.to);
        var name = "Sicknasty Test Event Revival";
        var start = new Date();
        var end = new Date(); end.setDate(end.getDate() + 1); 
        var groupID = createEvent(name, start, end, response.to);
        //inviteUsers(groupID, response.to);
      }
    </script>

    <h1>Facebook Client-side Authentication Example</h1>
      <div id="auth-status">
        <div id="auth-loggedout">
          <a href="#" id="auth-loginlink">Login</a>
        </div>
        <div id="auth-loggedin" style="display:none">
          Hi, <span id="auth-displayname"></span>  
        (<a href="#" id="auth-logoutlink">logout</a>).<br />
          <a href="#" id="auth-poststatus">Click here to test-post a status.</a>
          <a href="#" id="auth-letsgo">Click here to start a TextVite event.</a>
          <p>
          <input type="button"
            onclick="sendRequestViaMultiFriendSelector(); return false;"
            value="Send Request to Many Users with MFS"
          />
          </p>
        </div>

      </div>
    </div>
  <script>
    //Link click eventListeners.
      //Sends a test post.
      document.getElementById('auth-poststatus').addEventListener('click', function(){
        postMessage("Hey there. If you see this, be super proud of me.");
      });
      document.getElementById('auth-letsgo').addEventListener('click', function(){
        //postMessage("I just created a TextVite group event. Get excited.");

        //TODO: add datepicker hooks to grab relevant information.   

        var invitedUIDs = sendRequestViaMultiFriendSelector();
      });

  </script>
  </body>
</html>