<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Client-side Authentication Example</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));

      // Init the SDK upon load
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '467356809944508', // App ID
          channelUrl : 'http://localhost:4567/channel', // Path to your Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        // listen for and handle auth.statusChange events
        FB.Event.subscribe('auth.statusChange', function(response) {
          if (response.authResponse) {
            // user has auth'd your app and is logged into Facebook
            FB.api('/me', function(me){
              if (me.name) {
                document.getElementById('auth-displayname').innerHTML = me.name;
              }
            })
            document.getElementById('auth-loggedout').style.display = 'none';
            document.getElementById('auth-loggedin').style.display = 'block';
          } else {
            // user has not auth'd your app, or is not logged into Facebook
            location.href='/';
          }
        });

        document.getElementById('auth-logoutlink').addEventListener('click', function(){
          FB.logout();
        }); 
      } 


	   function httpGet(theUrl)
    {
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
    }

	function createEvent(name, startTime, endTime, location, description){
		FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
    // the user is logged in and has authenticated your
    // app, and response.authResponse supplies
    // the user's ID, a valid access token, a signed
    // request, and the time the access token 
    // and signed request each expire
    var uid = response.authResponse.userID;
    var accessToken = response.authResponse.accessToken;
	var theUrl = "/eventCreate/"+accessToken+"/"+uid+"/"+name+"/"+startTime+"/"+endTime+"/"+location+"/"+description;
	
    document.getElementById('eventCreationResponse').innerHTML= httpGet(theUrl);
  } else if (response.status === 'not_authorized') {
    // the user is logged in to Facebook, 
    // but has not authenticated your app
  } else {
    // the user isn't logged in to Facebook.
  }
 });	

}
	
 
    </script>

      <div id="auth-status">
        <div id="auth-loggedout">
          <a href="/" >Login, please.</a>
        </div>
        <div id="auth-loggedin" style="display:none">
          Hi, <span id="auth-displayname">.</span> Shit appears to be working.

			<span id='createEvent'>Click to make event</span>  
			<span id='eventCreationResponse'></span>
        (<a href="#" id="auth-logoutlink">logout</a>)
      </div>
    </div>
<script>
var d = new Date();
d = d.toUTCString();
document.getElementById('createEvent').addEventListener('click', function(){
          createEvent("TestEvent", d,d,"My House", "Sweet Jams")
});
</script>
  </body>
</html>